@import '$lib/global-styles/colors.scss';
@import '@sourcegraph/branded/src/global-styles/variables.scss';

@import '@sourcegraph/branded/src/global-styles/functions.scss';
@import '@sourcegraph/branded/src/global-styles/mixins.scss';
@import '@sourcegraph/branded/src/global-styles/reboot.scss';
@import '@sourcegraph/branded/src/global-styles/utilities/text.scss';

@import '@sourcegraph/branded/src/global-styles/code.scss';
@import '@sourcegraph/shared/src/global-styles/icons.scss';

:root {
    --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
    --code-font-size: #{(12/14)}em;

    --body-bg: var(--gray-01);
    --color-bg-1: white;
    --color-text: rgba(0, 0, 0, 0.7);

    --border-color-2: var(--gray-04);
    --navbar-height: 2.5rem;

    --brand-secondary: var(--purple);

    // Search
    --search-query-text-color: var(--gray-12);

    font-family: var(--font-body);
    color: var(--color-text);
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: var(--body-bg);
    overflow: hidden;
    font-size: 14px;
}
